node_modules/
reports/*
reports/chrome/*.json
reports/firefox/*.json
reports/phantomjs/*.json
!reports/chrome
!reports/firefox
!reports/phantomjs
!reports/cucumber_report.html.sample
!reports/cucumber.json.sample
!reports/create-html-report.js
!reports/chrome/create-html-report-chrome.js
!reports/firefox/create-html-report-firefox.js
!reports/phantomjs/create-html-report-phantomjs.js
*.png
*.log
*.html
*.xlsx
package-lock.json